.header-container {
  .make-lg-column(12);
}

#artwork {
  &, .artwork-layout-container {
    height: 100%;
  }

  .artwork-image-left-container {
    .make-lg-column(3);
    height: 100%;
    padding-right: 45px;
  }

  .header-container {
    margin-bottom: 20px;
    h1 {
      display: inline-block;
    }
    .artwork-sharing {
      display: inline-block;
      margin-left: 20px;
      a[class^="icon-"] {
        font-size: 18px;
        line-height: 1em;
        text-decoration: none;
        color: @gray;
        &:hover {
          color: @gray-dark;
        }
      }
    }
  }

  .artwork-image {
    height: 100%;
    float: right;
    img {
      height: 100%;
      min-height: 700px;
    }
  }

  .artwork-details-right-container {
    .make-lg-column(9);
  }

  .breadcrumbs-container {
    .make-lg-column(12);
  }

  .artwork-meta-container {
    .make-lg-column(4);
  }

  .artwork-meta {
    margin-top: 12px;
    > li {
      padding: 8px 0;
      border-bottom: 1px dotted @gray-light;
    }
  }

  .artwork-details-container {
    .make-lg-column(8);
  }

  .artwork-details-section {
    margin-bottom: 50px;
  }
}
